.secondary-button, .general-button {
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  padding: 4px 18px;
  transition: color 200ms ease-in-out 0s, background-color 200ms ease-in-out 0s, border-color 200ms ease-in-out 0s;
  width: 100%;
}

h3.title-teams, .one-pltaform, .the-next, .first-title {
  font-family: "Work Sans", sans-serif;
  font: bold;
  color: #fff;
  max-width: 1200px;
  font-size: 6.5rem;
  line-height: 6rem;
}

.text-love, .ai-writer {
  font-family: "Work Sans", sans-serif;
  font: bold;
  color: #fff;
  max-width: 1200px;
  font-size: 2.5rem;
  line-height: 2.4rem;
  width: 100%;
  text-align: left;
}

.texto-two {
  font-size: 1.1rem;
  line-height: 1.42;
  color: #9098a2;
  font-weight: 400;
  letter-spacing: -0.008rem;
}

.img-l {
  filter: grayscale(100%);
  opacity: 0.5;
  max-height: 36px;
}

.customer, .five-tools {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

.get-taskade, .nav, .intro {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.name-plataforms {
  color: #9098a2;
  text-decoration: none;
}

.point-backgraound-1, .point-backgraound, .point-backgraound-first {
  transform-origin: center center;
  background-image: linear-gradient(to right top, #6c22bd, #8b25bb, #a52bb9, #bc34b7, #d040b5, #e645a5, #f55195, #ff6188, #ff796e, #ff965b, #f5b255, #e1cd60);
  position: absolute;
  left: 50%;
  border-radius: 20px;
  transform: skewY(-15deg) translate(-50%, -50%) scale(0.7) translateZ(0);
  pointer-events: none;
  width: 900px;
  height: 500px;
  filter: blur(100px);
  opacity: 0.4;
  top: 0;
  transition: filter 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.btn-sing {
  margin-left: 12px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  padding: 4px 18px;
  transition: color 200ms ease-in-out 0s, background-color 200ms ease-in-out 0s, border-color 200ms ease-in-out 0s;
  border: none;
}

.malla::before, .malla::after {
  display: flex;
  overflow: hidden;
  background: var(--block-main-grid-bg);
  border-top: 1px solid rgb(204, 204, 204);
  border-bottom: 1px solid rgb(204, 204, 204);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 10%;
}

.point-backgraound-card, .point-backgraound-card-2 {
  transform: skewY(-15deg) translate(-50%, -50%) scale(1) translateZ(0);
  transform-origin: center center;
  background-image: linear-gradient(to right top, #6c22bd, #8b25bb, #a52bb9, #bc34b7, #d040b5, #e645a5, #f55195, #ff6188, #ff796e, #ff965b, #f5b255, #e1cd60);
  width: 500px;
  height: 500px;
  filter: blur(100px);
  opacity: 0.7;
  position: absolute;
  top: 40%;
  left: 70%;
  border-radius: 20px;
  transform: skewY(-15deg) translate(-50%, -50%) scale(0.7) translateZ(0);
  pointer-events: none;
  transition: filter 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.single, .apple, .google {
  display: flex;
  width: 100%;
  min-height: 38px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background: rgb(37, 40, 45);
  color: rgb(227, 229, 232);
  border: 1px solid rgb(44, 48, 53);
  transition: border-color 200ms ease-in-out 0s;
  margin-bottom: 4px;
  font-size: 0.888875rem;
  line-height: 1.1883;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.password-login, .email-login {
  display: block;
  width: 94%;
  border: 1px solid rgb(44, 48, 53);
  background: rgb(28, 31, 34);
  color: rgb(227, 229, 232);
  border-radius: 0.625rem;
  padding: 0.375rem 0.625rem;
  font-size: 0.888875rem;
  font-weight: 400;
  line-height: 1.5;
}

.sony, .booking, .netflix, .compass, .transfer, .lyfy {
  display: flex;
  width: 200px;
  height: 120px;
  justify-content: center;
  border: 1px solid rgb(44, 48, 53);
  align-items: center;
}

.terms, .taskade-year {
  text-decoration: none;
  margin-right: 8px;
  color: rgb(153, 153, 153);
  font-family: "Work Sans", sans-serif;
}

.Dad {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px;
}

body {
  color-scheme: dark;
  margin: 0px;
}

svg {
  height: 35px;
  display: inline-flex;
}

p {
  margin: 0px;
  padding: 0px;
}

body {
  background: rgb(0, 0, 0);
}

img.c {
  display: flex;
  height: 700px;
}

.first-line {
  background-color: rgba(93, 39, 67, 0.3);
  padding: 8px 20px;
}

.btn-sing {
  background-color: rgb(255, 45, 96);
  color: rgb(252, 252, 252);
}

div.main {
  margin-bottom: 240px;
}

button.btn-light {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(139, 139, 139);
  background: rgba(97, 96, 96, 0);
  border: none;
}

button.btn-light:hover {
  background-color: rgba(97, 94, 94, 0.493);
  color: rgb(252, 252, 252);
}

.btn-varios {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 35px;
}

.first-title {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

.point-backgraound-first {
  top: 25%;
}

strong {
  font: bold;
}

section {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 240px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 880px;
  padding: 0px;
  position: relative;
  text-align: left;
}

.third-box-firts {
  background: rgba(23, 25, 28, 0.6);
  width: 820px;
  height: 230px;
  border-radius: 24px;
}

.semi-circles {
  position: absolute;
  left: 0%;
  top: 68.3%;
  z-index: 2;
  max-width: 100%;
  height: auto;
}

.dots {
  position: absolute;
  right: 0%;
  top: 0%;
  max-width: 100%;
  height: auto;
}

.get-items {
  margin-top: 35px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.a-get {
  text-decoration: none;
}

.get-taskade {
  margin-top: 40px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.items-plataforms {
  text-decoration: none;
}

i.a {
  color: rgb(252, 252, 252);
  font-size: 25px;
  margin-top: 10px;
}

.conteiner-icon-plataforms {
  border-radius: 15px;
  background-image: radial-gradient(circle at bottom, rgba(91, 149, 191, 0.4) 0, hsla(0, 0%, 9%, 0.8) 30%, rgba(30, 30, 30, 0.8) 100%);
  width: 54px;
  height: 50px;
  justify-items: center;
}

.fourth-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 240px;
}

.the-next {
  text-align: center;
}

.five-tools {
  font-size: 1.5rem;
  line-height: 1.8rem;
  letter-spacing: -0.05rem;
  color: rgb(139, 139, 139);
}

.point-backgraound {
  top: 200%;
}

.point-backgraound-1 {
  top: 1900px;
}

.point-backgraound-card-2 {
  top: 2550px;
  left: 1200px;
}

div.card-text {
  display: flex;
  flex-direction: row;
  gap: 120px;
  margin-bottom: 240px;
  align-items: center;
}

.texto {
  width: 30%;
  max-width: 500px;
  padding: 0px 0px 0px 80px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.texto-one {
  text-align: left;
  align-items: flex-start;
  margin-bottom: 16px;
}

.texto-two {
  text-align: left;
  align-items: flex-start;
  margin-bottom: 40px;
}

.texto-three {
  display: flex;
  flex-direction: column;
}

.point-backgraound-card {
  top: 2700px;
}

.vd-blue {
  position: relative;
  z-index: 2;
  border-radius: 20px;
}

.box-video {
  width: 50%;
  display: flex;
}

.remplaces {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(144, 152, 162);
  text-align: left;
}

.logos {
  display: flex;
  gap: 20px;
}

.card-img {
  width: 50%;
  justify-content: flex-end;
  display: flex;
}

.comments {
  display: flex;
  max-width: 1400px;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 240px;
}

.comments-title {
  width: 100%;
  display: grid;
  grid-template-columns: auto minmax(400px, 50%);
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0px;
  margin-bottom: 64px;
}

.comments-love {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
}

.comments-btn {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-more {
  padding: 0.6rem 1.5rem;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  border-color: hsla(0, 0%, 98%, 0.4);
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 0.5rem;
  border-width: 1px;
}

.btn-more:hover {
  background-color: rgb(255, 45, 96);
}

.comments-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.comments-customer {
  display: flex;
  width: 32.5%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px 0px 40px 32px;
  margin: 10px auto;
  background: #101113;
  box-shadow: rgba(255, 255, 255, 0.15) 0px 1px 3px inset, rgb(0, 0, 0) 0px -1px 3px inset;
  border-radius: 24px;
}

.comments-text {
  margin-bottom: 30px;
  line-height: 150%;
}

.customer {
  font-size: 1em;
  line-height: 150%;
  color: #FAFAFA;
  width: 90%;
  text-align: left;
}

.comments-person {
  display: flex;
  align-items: center;
}

.img-profile {
  width: 40px;
  height: 40px;
  aspect-ratio: auto;
  max-width: 100%;
}

.comments-name {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  justify-content: center;
}

.name {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  justify-content: center;
  font-size: 1em;
  color: #FAFAFA;
  font-family: "Work Sans", sans-serif;
}

.comments-points {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 10px;
}

.btn-points-first {
  border-radius: 100%;
  height: 20px;
  width: 20px;
  background-color: rgba(0, 0, 0, 0);
}

.btn-points {
  border-radius: 35px;
}

.last-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 1400px;
  justify-content: center;
  padding: 0px 20px;
  overflow-x: clip;
  margin-bottom: 240px;
}

.title-workflows {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1400px;
  margin-bottom: 80px;
}

.one-pltaform {
  font-size: 2.8rem;
  line-height: 2.8rem;
}

.all-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1115px;
  gap: 1rem;
  position: relative;
}

.card-workflows {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: rgba(16, 17, 19, 0.7);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 3px inset, rgba(255, 255, 255, 0) 0px -1px 3px inset;
  border-radius: 20px;
  padding: 30px;
}

.card-img-top {
  border-radius: 10px;
  margin-bottom: 24px;
}

.card-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 112%;
  color: #fafafa;
  text-align: left;
}

.card-text {
  text-align: left;
  line-height: 1.5;
  font-weight: normal;
  color: #9098a2;
  margin: 12px 0px;
}

.companies {
  display: flex;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 240px;
}

.title-companies {
  margin-bottom: 40px;
}

.trusted {
  letter-spacing: 0.13em;
  text-transform: uppercase;
  font-family: "IBM Plex Mono", "Liberation Mono", "Courier New", monospace;
  text-align: center;
  font-weight: bold;
  color: #fafafa;
}

.companies-logo {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  width: 100%;
  box-sizing: border-box;
}

.trans-logo {
  filter: grayscale(100%);
  opacity: 0.5;
}

.conteiner-teams-c {
  border-top: 1px solid rgb(44, 48, 53);
  border-bottom: 1px solid rgb(44, 48, 53);
  border-radius: 0px;
}

.conteiner-teams-b {
  display: flex;
  align-items: center;
  padding: 70px 7.5%;
  margin-bottom: 140px;
  -webkit-box-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
  justify-content: center;
  box-sizing: border-box;
  -webkit-box-pack: center;
  max-width: 1400px;
  flex-direction: column;
}

.conteiner-teams-a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  -webkit-box-align: center;
}

h3.title-teams {
  font-weight: 700;
  line-height: 128%;
  font-size: 40px;
  text-align: center;
}

.taskade-gradient {
  background-color: red;
  background-image: linear-gradient(90deg, #f64942, #ef90a4, #5b95bf);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p.text-teams {
  margin-bottom: 50px;
  color: rgb(197, 197, 197);
  line-height: 1.5;
  font-size: 20px;
  text-align: center;
  font-family: "Work Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
}

.container-your-email-c {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container-your-email-b {
  display: flex;
  flex-wrap: wrap;
  min-width: 331px;
  justify-content: space-between;
  border-radius: 48px;
  background-color: #17191c;
  color: #fafafa;
  padding: 10px 12px 10px 24px;
}

.your-email-a {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

input.email-box {
  width: 180px;
  background-color: transparent;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  padding-left: 12px;
  border: 0px;
}

input.email-submit {
  border-radius: 2.5rem;
  padding: 0.6rem 1.25rem;
  background-color: rgb(255, 45, 96);
  color: #fafafa;
  border: 0px;
  font-weight: 600;
}

.last-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: rgb(0, 0, 0);
  align-items: center;
  border-bottom: 1px solid rgb(44, 48, 53);
}

.row-colums {
  display: flex;
  width: 100%;
  max-width: 1400px;
  flex-direction: row;
  padding: 40px 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.taskade-colum {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.download-colum {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.productos-colum {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.templates-colum {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.colum-last-main-title {
  margin-bottom: 16px;
  color: rgb(255, 255, 255);
  position: relative;
  display: inline-block;
  transition: opacity 200ms ease-in-out 0s;
  font-size: 15px;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  text-align: left;
}

.items-last-colum-main {
  text-decoration: none;
  font-weight: 400;
  position: relative;
  display: inline-block;
  transition: opacity 200ms ease-in-out 0s;
  color: #9098a2;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 16px;
  text-align: left;
}

.see-all-colum {
  display: flex;
  flex-direction: column;
}

.see-all-btn {
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  background: none;
  border: none;
  color: rgb(255, 255, 255);
  margin: 0px 0px 16px;
  padding: 0px;
  text-align: left;
  transition: color 200ms ease 0s;
  outline: none;
}

.generators-colum {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.blog-colum {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.rocket {
  margin-bottom: 2px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-right: auto;
  position: relative;
  display: inline-block;
  text-align: left;
}

.text-foot {
  display: grid;
  width: 100%;
  max-width: 1400px;
  row-gap: 0px;
  padding: 40px 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-template-columns: 1fr;
  margin: auto;
}

.contenedor-text-foot {
  width: 600px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  display: flex;
  overflow: hidden;
  color: rgb(255, 255, 255);
}

.trancicion-lugares {
  list-style: none;
  padding-left: 10px;
  animation: cambiar 7s infinite;
}

ul, p {
  margin: 0;
}

@keyframes cambiar {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: 0;
  }
  25% {
    margin-top: -40px;
  }
  50% {
    margin-top: -40px;
  }
  55% {
    margin-top: -80px;
  }
  80% {
    margin-top: -80px;
  }
  85% {
    margin-top: -40px;
  }
  95% {
    margin-top: -95%;
  }
  100% {
    margin-top: 0;
  }
}
.taskade-privacy {
  justify-content: start;
  display: flex;
  flex-direction: row;
  text-align: left;
  font-size: 16px;
  align-items: center;
}

.social-icon-b {
  display: flex;
}

.social-icon-a {
  fill: rgb(153, 153, 153);
  margin-left: 5px;
}

.malla::after {
  background-image: url(/static_images/landing/slideshow/Vector-Right.svg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right center;
}

.malla::before {
  background-image: url(/static_images/landing/slideshow/Vector-Left.svg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right center;
}

.general-button {
  background-color: rgb(255, 45, 96);
  color: rgb(250, 250, 250);
  border: none;
}

.secondary-button {
  background-color: transparent;
  color: rgb(255, 45, 96);
  border: 1px solid rgb(255, 45, 96);
}
.secondary-button:hover {
  background-color: rgb(255, 45, 96);
  color: rgb(250, 250, 250);
}

.result {
  color: rgb(255, 45, 96);
  font-weight: bold;
  font-size: 30px;
}

.bg-dark {
  background-color: #111 !important;
}

.custom-drop {
  background: rgb(0, 0, 0);
  padding: 24px 24px 10px;
  width: 250px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  color: rgb(250, 250, 250);
}

.login-back {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(28, 31, 34);
  min-height: 100dvh;
}

.login-square {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 460px;
  margin: 0px 20px;
}

.main-login {
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  background: rgb(23, 25, 28);
  border: 0.5px solid rgb(44, 48, 53);
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 3px;
  border-radius: 20px;
}

.logo-login {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 52px;
  margin: 0px auto 20px;
}

.login-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.login-login {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
  color: rgb(227, 229, 232);
  margin: 0px 0px 2px;
  font-family: Arial, Helvetica, sans-serif;
}

.login-welcome {
  font-size: 0.888875rem;
  line-height: 1.1883;
  color: rgb(147, 153, 159);
  font-weight: normal;
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0px;
}

.sing-in-a {
  margin-bottom: 10px;
}

.singin {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
}

.apple {
  background: rgb(0, 0, 0);
}

.user-password {
  margin-bottom: 5px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  max-width: 100%;
}

.email-login {
  margin-bottom: 5px;
}

.btn-login {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 38px;
  border-radius: 10px;
  background: rgb(255, 45, 96);
  color: rgb(255, 255, 255);
  border: 0px;
  cursor: pointer;
  margin-top: 15px;
  font-size: 0.888875rem;
  line-height: 1.1883;
}

.forgot {
  margin-top: 10px;
  text-align: center;
}

.dropdown-item {
  color: rgb(147, 153, 159);
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.888875rem;
}

.account {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 0.888875rem;
  line-height: 1.1883;
  color: rgb(147, 153, 159);
  font-family: Arial, Helvetica, sans-serif;
}

.sing-up {
  color: rgb(147, 153, 159);
  text-decoration: none;
  margin-left: 5px;
}

.card-body {
  padding: 0;
}/*# sourceMappingURL=base.css.map */